<table class="table table-hover table-bordered table-dark table-striped mt-2" *ngIf="employees && employees.length > 0">
    <thead>
        <tr>
            <!-- <th scope="col">Id</th> -->
            <th scope="col">Firstname</th>
            <th scope="col">Surname</th>
            <th scope="col">Date of birth</th>
            <th scope="col">Gender</th>
            <th scope="col">Role</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Department</th>
            <th scope="col">Salary</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <!-- <td>{{ employee.id}}</td> -->
            <td>{{ employee.firstname }}</td>
            <td>{{ employee.surname }}</td>
            <td>{{ employee.dob | date: "dd/MM/yyyy" }}</td>
            <td>{{ employee.gender }}</td>
            <td>{{ employee.role }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phone }}</td>
            <td>{{ employee.department }}</td>
            <td>{{ employee.salary }}</td>
            <td><app-edit-employee [editEmployeeRequest]="employee"></app-edit-employee></td>
        </tr>
    </tbody>
    <p *ngIf="!employees || employees.length <= 0">No data</p>
</table>